- title "Aanmelden als deelnemer"

%p
  Als je direct bij een locatie wilt aanmelden 
  = link_to 'kies dan hier een locatie', participant_locations_path

= form_for @person, :url => registration_participants_path, method:'post' do |f|
  = errors_for @person
  = render :partial => 'registration/person_registration_fields', locals: { form: f } 
  .dialog-container
    = render partial: 'shared/captcha'
    .clear

  .actions
    = link_to "terug", locations_path
    = f.submit

