- title "Steden"

%table
  %tr
    %th= 'Naam'
    %th= 'Contact'
    %th= 'Telefoonnummer'
    %th
    %th
    %th
    %th

  - @tenants.each do |tenant|
    %tr
      %td= tenant.name
      %td= mail_to tenant.representative_email, tenant.representative_name
      %td= tenant.representative_telephone
      %td= link_to 'Show', admin_tenant_path(tenant)
      %td= link_to 'Edit', edit_admin_tenant_path(tenant)
      %td= link_to 'Klaar', notify_new_admin_tenant_path(tenant), :confirm => 'Zeker weten dat je de mail wilt sturen?', :method => :put
      %td= link_to 'Destroy', admin_tenant_path(tenant), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Tenant', new_admin_tenant_path
