- title "Trainingen voor #{@attendee.name}"
- context_action '.trainings', city_training_types_path
- page_side_bar 'side_bar'
- if (@training_types.empty?)
  = link_to "Maak je eerste training aan", new_city_training_type_path
- else
  = form_for city_training_registration_path(@attendee.to_param), :method => :put do 
    = training_registration_tags @training_types, @attendee, 'doet niet mee aan'
    = submit_tag "update"
.clear

