=form_for @conversation do |f| 
  = errors_for @conversation
  .dialog-container
    %p 
      .label= f.label :start_date
      .input
        = f.text_field(:start_date)
        = f.time_select(:start_time)
    %p 
      .label= f.label :end_date
      .input
        = f.text_field(:end_date)
        = f.time_select(:end_time)
    .actions
      = f.submit
