=form_for conversation, :remote => true, :disable_with => '...'  do |f| 
  = errors_for conversation
  .dialog-container
    = f.hidden_field :location_id
    .input-container 
      .label= f.label :start_date
      .input.wide
        = f.text_field(:start_date, :value => conversation.start_date && l(conversation.start_date))
        = f.time_select(:start_time)
    .input-container 
      .label= f.label :end_date
      .input.wide
        = f.text_field(:end_date, :value => conversation.end_date && l(conversation.end_date))
        = f.time_select(:end_time)
    .input-container 
      .label= f.label :number_of_tables
      .input
        = f.text_field(:number_of_tables)
    .clear
    .actions
      = link_to "sluiten", '#', :id => "close_form"
      = f.submit
