.conversation{:id => "conversation_#{conversation.to_param}"}
  %h3
    = time_period(conversation).capitalize
    %span.operations 
      = link_to image_tag('edit.gif'), edit_conversation_path(conversation.to_param), :class => 'edit', :title => 'wijzig dit dialooggesprek', :'data-remote' => true
      = link_to image_tag('delete.gif'), conversation_path(conversation.to_param), 
                                                        :method => :delete, 
                                                        :class => 'delete', 
                                                        :title => 'verwijder dit dialooggesprek', 
                                                        :'data-remote' => true, 
                                                        :confirm => 'weet je zeker dat je dit dialooggesprek wilt verwijderen?'
    %span.table-info
      aantal tafels: 
      = conversation.number_of_tables
  .conversation-container
    .clear
      = render :partial => 'conversations/contributors', locals: { conversation: conversation }
