Details van je aanmelding:

= "Naam     : #{ @applicant.name }"
= "Email    : #{ @applicant.email }"
= "Telefoon : #{ @applicant.telephone }"
- ProfileField.on_form.each do |profile_field|
  = "#{profile_field.label} : #{ @applicant.person.get_profile_attribute(profile_field.field_name) }"
