%h3 
  Beste
  = @organizer.name

%p
  Er is een nieuwe site ontwikkeld voor de aanmeldingen voor de 
  = @tenant.active_project.name
  in 
  = @tenant.name
%p
  Op deze site kunnen de locaties van de dialooggesprekken beter gepubliceerd worden.
  Op deze manier trek je wellicht eenvoudiger deelnemers aan. Je kunt je locatie voorzien van een foto en van een wervende tekst.
  Kijk maar eens op:

%p
  = root_url(host: @tenant.host)

%h3 
  Inloggen
%p 
  Je logt in met je email en wachtwoord. Klik 
  = link_to "hier", account_response_session_url(@organizer.account.authentication_token, :host => @tenant.host)
  om je account te activeren.
%h3
  We hebben de volgende gegevens geregistreerd

= render :partial => 'applicant_details'
