= "Beste #{@organizer.name},"

= "Er is een nieuwe site ontwikkeld voor de aanmeldingen voor de #{@tenant.active_project.name} in #{@tenant.name}."

Op deze site kunnen de locaties van de dialooggesprekken beter gepubliceerd worden. 

Op deze manier trek je wellicht eenvoudiger deelnemers aan. Je kunt je locatie voorzien van een foto en van een wervende tekst.

Kijk maar eens op

= root_url(host: @tenant.host)

Je logt in met je email en wachtwoord. Gebruik de onderstaande link om je account te activeren.

= account_response_session_url(@organizer.account.authentication_token, :host => @tenant.host)

We hebben de volgende gegevens geregistreerd:

= render :partial => 'applicant_details'
