= errors_for @location
%input{ :name => 'step', :value => 'publication', :type=>:hidden }
.dialog-container
  .input-container
    .label= f.label :name
    .input= f.text_field :name
  .clear
.dialog-container
  .city_banner{:style=>"float:right;"}
    .city_banner_photo{:style=>"background: url(#{@location.photo.url(:thumb)}) no-repeat;"}
      .city_banner_text
        %h3= @location.name
        %p= full_address(@location)

  %p
    De foto van je locatie mag maximaal 500kb zijn. 
    Voor de publicatie op de site wordt hij geschaald naar maximaal 200 pixels breed bij 170 pixels hoog. 
    Wijzig hieronder de foto door een bestand te kiezen.
  .input-container 
    .label= f.label(:photo)
    .input= f.file_field(:photo)
  .input-container 
    .label= f.label(:description)
    .input= f.text_area(:description, :rows=>10)
  .input-container
    .label
      Publiceren
    .input 
      = f.check_box(:published) 
      = f.label(:published, class: 'checkbox')
  .clear
