%li{:title => "tel: #{person.telephone}"}
  %span.operations
    = link_to image_tag('handle-small.png'), "#", :class => 'move'
    = mail_to person.email, image_tag('mail.gif'), :class => 'email', :title => "Stuur een email"
    = link_to image_tag('edit.gif'), "#", :class => 'edit'
  %span.no-operations
    &nbsp;
  =  person.name

