%li{:id => "person_#{person.id}", :title => "tel: #{person.telephone}"}
  %span.operations
    = guarded_link_to image_tag('handle-small.png'), {controller: 'city/registrations', action: 'index', person_id: person.to_param}, :title => "wijzig inschrijvingen"
    = mail_to person.email, image_tag('mail.gif'), :class => 'email', :title => "Stuur een email"
    = guarded_link_to image_tag('edit.gif'), { controller: 'city/people', action: 'edit', id: person.id }, :class => 'edit', :remote => true, :title => "bewerk profiel"
  %span.no-operations
    &nbsp;
  =  person.name

