%li{:id => "person_#{person.id}", :title => "tel: #{person.telephone}"}
  %span.operations
    = link_to image_tag('handle-small.png'), "#", :'data-contributor' => person.id, :title => "wijzig inschrijvingen"
    = mail_to person.email, image_tag('mail.gif'), :class => 'email', :title => "Stuur een email"
    = link_to image_tag('edit.gif'), edit_city_person_path(person.id), :class => 'edit', :remote => true, :title => "bewerk profiel"
  %span.no-operations
    &nbsp;
  =  person.name

