= form_for @registration_organizer do |f|
  -if @registration_organizer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@registration_organizer.errors.count, "error")} prohibited this registration_organizer from being saved:"
      %ul
        - @registration_organizer.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
