- title "Aanmelden als organisator"

= form_for [:registration, @organizer]  do |f|
  = errors_for @organizer
  .dialog-container
    .input-container
      .label= f.label :email
      .input= f.text_field :email

    .input-container
      .label= f.label :name
      .input= f.text_field :name

    .input-container
      .label= f.label :telephone
      .input= f.text_field :telephone
    .clear
  .actions
    = f.submit
