- title "Aanmelden als organisator"

= form_for @person, :url => registration_organizers_path  do |f|
  = errors_for @person
  .dialog-container
    .input-container
      .label= f.label :email
      .input= f.text_field :email

    .input-container
      .label= f.label :name
      .input= f.text_field :name

    .input-container
      .label= f.label :telephone
      .input= f.text_field :telephone

  .dialog-container
    = render partial: 'shared/captcha'
    .clear

  .dialog-container
    - @profile_fields.each do |profile_field|
      .input-container
        .label= f.label profile_field.field_name_with_prefix, profile_field.label
        .input= profile_field.render_field_on(f)

  .actions
    = f.submit
