- title "Aanmelden als organisator"

= form_for @person, :url => registration_organizers_path, method: 'post'  do |f|
  = errors_for @person
  = render :partial => 'registration/person_registration_fields', locals: { form: f } 
  .dialog-container
    = render partial: 'shared/captcha'
    .clear
  .actions
    = f.submit
