%div#dialog-form
- title "#{@training.name}"
- context_action ".index", city_trainings_path
- context_action ".edit", edit_city_training_path(@training)
- context_action ".delete", city_training_path(@training), :method => :delete, :confirm => t('.sure')

%h3= @training.name
= markup @training.description

%h3 Deelnemers
= render :partial => 'training_attendees', locals: { training: @training }
%h3 Uitnodigingen
= render :partial => '/city/training_invitations/index', locals: {training_invitations: @training.training_invitations}

