%table{ id: "list-location-#{location.id}", class: 'list-location' }
  %tr
    %td.location-data
      = link_to location.name, city_location_path(location)
      %br
      %span.schedule= "Georganiseerd door #{person_entry location.organizer}"

    %td.table-status
      .location-todo-progress{id: "location-todo-progress-#{location.id}", title: "Wijzig todo status"}
        = render partial: '/city/todos/progress', locals: { location: location }
    %td.location-modified-state
      = created_at(location)
      = updated_at(location)
