- title "Nieuwe locatie voor #{@location.organizer.name}"

= form_for [:city, @location] do |f|
  = f.hidden_field :organizer_id
  = render :partial => 'shared/location_form_content', locals: {f: f}
  .actions
    = f.submit "Voeg gespreksronden toe"

