- title "Aanmelden als gespreksleider bij #{@location.project.name}"

.city_banner{:style=>"float:right;"}
  .city_banner_photo{:style=>"background: url(#{@location.photo.url(:thumb)}) no-repeat;"}
    .city_banner_text
      %h3= @location.name
      %p= full_address(@location)

%h3 
  Locatie:
  = @conversation.location.name

%p 
  Dialoog georganiseerd
  = time_period @conversation

= form_for @person, :url => registration_conversation_leaders_path, method: 'post'  do |f|
  = errors_for @person
  = hidden_field_tag :conversation_id, @conversation.id
  = render :partial => 'registration/person_registration_fields', locals: { form: f } 
  .dialog-container
    = training_registration_tags @training_types, @person, 'ik doe niet mee aan'
    .clear
  .dialog-container
    = render partial: 'shared/captcha'
    .clear

  .actions
    = link_to "terug", location_path(@location)
    = f.submit
