- title "Aanmelden als gespreksleider bij #{@location.project.name}"

.city_banner{:style=>"float:right;"}
  .city_banner_photo{:style=>"background: url(#{@location.photo.url(:thumb)}) no-repeat;"}
    .city_banner_text
      %h3= @location.name
      %p= full_address(@location)

%h3 
  Locatie:
  = @conversation.location.name

%p 
  Dialoog georganiseerd
  = time_period @conversation

= form_for [:registration, @conversation_leader]  do |f|
  = errors_for @conversation_leader
  = f.hidden_field :conversation_id
  .input-container
    .label= f.label :email
    .input= f.text_field :email

  .input-container
    .label= f.label :name
    .input= f.text_field :name

  .input-container
    .label= f.label :telephone
    .input= f.text_field :telephone

  .actions
    = link_to "terug", location_path(@location)
    = f.submit
