- title "Aanmelden als gespreksleider"

%p
  Als je direct bij een locatie wilt aanmelden 
  = link_to 'kies dan hier een locatie', conversation_leader_locations_path

= form_for @person, :url => registration_conversation_leaders_path, method:'post' do |f|
  = errors_for @person
  = render :partial => 'registration/person_registration_fields', locals: { form: f } 
  .dialog-container
    = training_registration_tags @training_types, @person, 'ik doe niet mee aan'
    .clear
  .dialog-container
    = render partial: 'shared/captcha'
    .clear

  .actions
    = link_to "terug", locations_path
    = f.submit

