.city_banner{:style=>"float:right;"}
  .city_banner_photo{:style=>"background: url(#{@location.photo.url(:thumb)}) no-repeat;"}
    .city_banner_text
      %h3= @location.name
      %p= full_address(@location)

= markup(@location.description)
.clear
%h3 Schrijf je in op een van de volgende dialooggesprekken
- @location.conversations.each do |conversation| 
  .conversation{:id => "conversation_#{conversation.to_param}"}
    %h3
      = time_period(conversation).capitalize
    .conversation-container
      .right
        = participant_registration conversation, '> schrijf je in als deelnemer', new_registration_participant_path(:conversation_id => conversation)
        %br
        = leader_registration conversation, '> schrijf je in als gespreksleider', new_registration_conversation_leader_path(:conversation_id => conversation)
      .clear


