%p
  %strong= location.name
  %br= location.address
  %br= location.city

- if location.number_of_tables == 1
  %p= "Hier word #{location.number_of_tables} tafel georganiseerd"
- else
  %p= "Hier worden #{location.number_of_tables} tafels georganiseerd"

%p
  %strong
    Contactpersoon:
  = location.organizer.name 
  %br
  = mail_to location.organizer.email

