<!DOCTYPE html>
%html
  %head
    %title DialoogTafels.nl
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "html5"
  %body
    %header#heading
      %nav#heading-navigation
        =login_information
      %h1 Dialoogtafels.nl
    %section#main-menu
      #main-left-menu
        %ul
          = menu(request) do |m|
            - m.tab("Locaties", 'city/locations',      highlight_on: 'city/(locations|publications|comments|registrations)')
            - m.tab("Locaties", 'organizer/locations', highlight_on: '(city|organizer)/(locations|publications|comments)')
            - m.tab("Trainingen", 'city/training_types',    highlight_on: 'city/training' )
            - m.tab("Mijn Registratie", 'contributor/registrations#show')
            - m.tab("Mijn Profiel", 'contributor/profiles#edit')
            - m.tab("Mijn Trainingen", 'contributor/training_registrations')
      #main-right-menu
        %ul
          = menu(request) do |m|
            - m.tab("Instellingen", 'settings/projects#edit', highlight_on: 'settings')

    %section#content-frame
      %section#flash_messages
        = flash_tags
      %table.columns-layout
        %tr
          %td#main-bar
            .col
              #page-header
                .main-sub-menu
                .right= yield :context_actions
                = yield :title
              #page-content
                = yield
          %td#side-bar
            #help_text
              = yield :page_info
            = yield :page_side_bar
    %section#footer
