<!DOCTYPE html>
%html
  %head
    %title DialoogTafels.nl
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag params[:controller], :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag params[:controller]
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "html5"
  %body
    %header#heading
      %nav#heading-navigation
        =login_information
      %h1 Dialoogtafels.nl
    %section#main-menu

    %section#content-frame
      %section#flash_messages
        = flash_tags
      %table.columns-layout
        %tr
          %td#main-bar
            .col
              #page-header
                .main-sub-menu
                = yield :title
              #page-content
                = yield
          %td#side-bar
            #help_text
              = yield :page_info
            = yield :page_side_bar
    %section#footer
