<!DOCTYPE html>
%html
  %head
    %title= yield :title
    = stylesheet_link_tag "public", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "html5"
  %body
    #body_container
      %section#top_container{:style=>"background: url('/assets/sassenheim_header_background.png');"}
        #dialoog_stad_top
          = current_tenant.name.upcase
        #title_container
          &nbsp;
        #topmenu
      %section#columns
        %section#submenu_container
          .submenu
            =link_to "waar kan ik meedoen", locations_url
          .submenu
            =link_to "aanmelden als tafelorganisator", new_registration_organizers_url
          .submenu
            =link_to "mijn tafels", login_url
          .submenu
            =link_to "terug naar de site", tenant_site_url
        %section#content_container
          = flash_tags
          %h1= yield :title
          = yield
        %section#right_container{ :style=> "background: url('/assets/sassenheim_city_name_right.png') no-repeat" } &nbsp;
      .clear
      %section#footer
        %span.dialoog_txt
          Dag van de Dialoog 
        &nbsp; &nbsp;
        = current_tenant.name
        .right
          %a{ href: "http://www.nederlandindialoog.nl", target: 'blank' }
            %div{ align: 'right', style:"width:100px; height:80px"}


