<!DOCTYPE html>
%html
  %head
    %title= yield :title
    = stylesheet_link_tag "public", :media => "all"
    = tenant_styles 
    = javascript_include_tag "application"
    = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "html5"
  %body
    #body_container
      %section#top_container{:style=>"background: url('#{top_background_image}');"}
        #dialoog_stad_top
          #login-link
            =link_to "login", login_url
          #city-name
            = current_tenant.name.upcase
        #title_container
          &nbsp;
        #topmenu
      %section#columns
        %section#submenu_container
          .submenu
            =link_to "Home", tenant_site_url
          .submenu
            =link_to "Kaart van de locaties", map_locations_url
          .submenu
            =link_to "Waar kan ik meedoen?", locations_url
            .submenu
              =link_to "als deelnemer", participant_locations_url
            .submenu
              =link_to "als gespreksleider", conversation_leader_locations_url
          .submenu
            =link_to "Aanmelden als tafelorganisator", new_registration_organizer_url
        %section#content_container
          = flash_tags
          %h1= yield :title
          = yield
        %section#right_container{ :style=> "background: url('#{right_background_image}') no-repeat" } &nbsp;
      .clear
      %section#footer
        %span.dialoog_txt
          Dag van de Dialoog 
        &nbsp; &nbsp;
        = current_tenant.name
        .right
          %a{ href: "http://www.nederlandindialoog.nl", target: 'blank' }
            %div{ align: 'right', style:"width:100px; height:80px"}


