<!DOCTYPE html>
%html
  %head
    %title= yield :title
    = stylesheet_link_tag "registration", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "html5"
  %body
    %h2= yield :title
    = flash_tags
    = yield
